body{
  background-color: palevioletred;
}
#root {
  display: flex;
  justify-content: center;
}

.counter {
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-weight: 600;
  font-size: 40px;
}

.count{
  color: yellow;
  font-size: 40px;
}

.counter-button button {
  background-color: skyblue;
  margin: 5px;
  padding: 5px;
  border: solid yellow 1px;
  border-radius: 5px;
  font-size: 16px;
}